
.botao-primario{
    display: inline-block;
    background: $botao-primario;
    padding: 5px 20px;
    color: black;
}


.botao-primario:hover{
    background: darken($botao-primario,15%);
    text-decoration: none;
}

.botao-secundario{
    display: inline-block;
    background: $botao-secundario;
    padding: 5px 20px;
    color: white;
}


.botao-secundario:hover{
    background: darken($botao-secundario,15%);
    text-decoration: none;
}