.menuTopo ul{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
 

.menuTopo ul li{
    display: inline-block;
    
}

.menuTopo ul li a{
    background: $laranja-menu;
    color: black;
    padding: 5px 30px;
}

.menuTopo ul li a:hover{
        background: darken($laranja-menu,8%);
        text-decoration: none;
}

